<script type="module" src="signIn_include.js"></script>
<!-- Fixed navbar -->
<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand col-xs-1 col-md-2 col-lg-2" href="#">Daakiya</a>
    </div>

    <!--    <div id="navbar" class="navbar-collapse collapse">-->
    <!--      <ul class="nav navbar-nav">-->
    <!--        <li><a href="./order_list_view.html">Orders</a></li>-->
    <!--        <li><a href="#">Fleet</a></li>-->
    <!--        <li><a href="#">Routes</a></li>-->

    <!--        &lt;!&ndash;        <li class="dropdown">&ndash;&gt;-->
    <!--        &lt;!&ndash;          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>&ndash;&gt;-->
    <!--        &lt;!&ndash;          <ul class="dropdown-menu">&ndash;&gt;-->
    <!--        &lt;!&ndash;            <li><a href="#">Action</a></li>&ndash;&gt;-->
    <!--        &lt;!&ndash;            <li><a href="#">Another action</a></li>&ndash;&gt;-->
    <!--        &lt;!&ndash;            <li><a href="#">Something else here</a></li>&ndash;&gt;-->
    <!--        &lt;!&ndash;            <li role="separator" class="divider"></li>&ndash;&gt;-->
    <!--        &lt;!&ndash;            <li class="dropdown-header">Nav header</li>&ndash;&gt;-->
    <!--        &lt;!&ndash;            <li><a href="#">Separated link</a></li>&ndash;&gt;-->
    <!--        &lt;!&ndash;            <li><a href="#">One more separated link</a></li>&ndash;&gt;-->
    <!--        &lt;!&ndash;          </ul>&ndash;&gt;-->
    <!--        &lt;!&ndash;        </li>&ndash;&gt;-->
    <!--      </ul>-->
    <!--    </div>&lt;!&ndash;/.nav-collapse &ndash;&gt;-->
    <!--    -->
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">-->
        <li><a href="./order_list_view.html">Orders</a></li>
        <li><a href="./delivery_associates_list_view.html">Fleet</a></li>
        <li><a href="./routes_list_view.html">Routes</a></li>

        <!--        <li class="dropdown">-->
        <!--          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>-->
        <!--          <ul class="dropdown-menu">-->
        <!--            <li><a href="#">Action</a></li>-->
        <!--            <li><a href="#">Another action</a></li>-->
        <!--            <li><a href="#">Something else here</a></li>-->
        <!--            <li role="separator" class="divider"></li>-->
        <!--            <li class="dropdown-header">Nav header</li>-->
        <!--            <li><a href="#">Separated link</a></li>-->
        <!--            <li><a href="#">One more separated link</a></li>-->
        <!--          </ul>-->
        <!--        </li>-->
      </ul>
      <!--      <ul class="nav navbar-nav  col-xs-12 col-md-6 col-lg-6">-->
      <!--        &lt;!&ndash;        <li><a href="#">Dashboard</a></li>&ndash;&gt;-->
      <!--        &lt;!&ndash;        <li><a href="#">Delivery Associates</a></li>&ndash;&gt;-->
      <!--        &lt;!&ndash;        <li><a href="#">Orders</a></li>&ndash;&gt;-->
      <!--        &lt;!&ndash;        <li><a href="#">Routes</a></li>&ndash;&gt;-->

      <!--        <li class="dropdown">-->
      <!--          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Orders<span class="caret"></span></a>-->
      <!--          <ul class="dropdown-menu">-->
      <!--            <li><a href="./order_add_form2.html">Add Orders</a></li>-->
      <!--            <li><a href="./order_list_view.html">View All Orders</a></li>-->
      <!--&lt;!&ndash;            <li><a href="#">Add Bulk Orders</a></li>&ndash;&gt;-->
      <!--            &lt;!&ndash;            <li><a href="#">Something else here</a></li>&ndash;&gt;-->
      <!--            &lt;!&ndash;            <li role="separator" class="divider"></li>&ndash;&gt;-->
      <!--            &lt;!&ndash;            <li class="dropdown-header">Nav header</li>&ndash;&gt;-->
      <!--            &lt;!&ndash;            <li><a href="#">Separated link</a></li>&ndash;&gt;-->
      <!--            &lt;!&ndash;            <li><a href="#">One more separated link</a></li>&ndash;&gt;-->
      <!--          </ul>-->
      <!--        </li>-->

      <!--        <li class="dropdown">-->
      <!--          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Fleet<span class="caret"></span></a>-->
      <!--          <ul class="dropdown-menu">-->
      <!--            <li><a href="./delivery_associate_add_form.html">Add Delivery Associate</a></li>-->
      <!--            <li><a href="#">View all delivery associates</a></li>-->
      <!--            &lt;!&ndash;            <li><a href="#">Something else here</a></li>&ndash;&gt;-->
      <!--            &lt;!&ndash;            <li role="separator" class="divider"></li>&ndash;&gt;-->
      <!--            &lt;!&ndash;            <li class="dropdown-header">Nav header</li>&ndash;&gt;-->
      <!--            &lt;!&ndash;            <li><a href="#">Separated link</a></li>&ndash;&gt;-->
      <!--            &lt;!&ndash;            <li><a href="#">One more separated link</a></li>&ndash;&gt;-->
      <!--          </ul>-->
      <!--        </li>-->

      <!--        <li class="dropdown">-->
      <!--          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Routes<span class="caret"></span></a>-->
      <!--          <ul class="dropdown-menu">-->
      <!--            <li><a href="#">Trip Planning</a></li>-->
      <!--            <li><a href="#">Create a Quick Route</a></li>-->
      <!--            &lt;!&ndash;            <li><a href="#">Something else here</a></li>&ndash;&gt;-->
      <!--            &lt;!&ndash;            <li role="separator" class="divider"></li>&ndash;&gt;-->
      <!--            &lt;!&ndash;            <li class="dropdown-header">Nav header</li>&ndash;&gt;-->
      <!--            &lt;!&ndash;            <li><a href="#">Separated link</a></li>&ndash;&gt;-->
      <!--            &lt;!&ndash;            <li><a href="#">One more separated link</a></li>&ndash;&gt;-->
      <!--          </ul>-->
      <!--        </li>-->

      <!--      </ul>-->

      <ul class="nav navbar-nav col-xs-12 col-md-4 col-lg-4" style="float: right;">
        <li><a href="#" class="navbar-nav col-xs-12 col-md-12 col-lg-4" style="text-align: left;" id="emailId"></a></li>
        <li><a href="#" class="navbar-nav col-xs-12 col-md-12 col-lg-4" style="text-align: left;" onclick="logOut()">Logout</a></li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>

<script type="text/javascript">
  // A $( document ).ready() block.
  // $( document ).ready(async function() {
  //   console.log( "Setting login email!" );
  //   //$("#navbarLoader").load('./templates/navbar.html')
  // });
</script>

